.fa-check-circle{
    float:right;
    display:inline;
    padding:.5rem;
    /* margin-right:1rem; */
}

.fa-check-circle:hover {
    color:rgb(69, 253, 69);
}

.todo-input{
	width: 90%;
	padding: 5px;
	border: none;
	box-sizing: border-box;
	height: 30px;
    background:transparent;
}

.todo-input:focus{
    outline:none;
}